/* Custom styling for alert boxes */

.customAlert {
    -fx-background-color: #2d2e2e;
}

.customAlert .button {
    -fx-background-color: #2d2e2e;
    -fx-border-width: 0.5 0.5 2 0.5;
    -fx-border-color: #6b6b6a;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-text-fill: #ffffff;
}

.customAlert .button:hover {
   -fx-background-color: derive(#2d2e2e, -20%); 
}

.customAlert .header-panel{
    -fx-background-color: #2d2e2e;
    -fx-border-radius: 0 0 1 0;
    -fx-border-color: #3b3d3d;
}

.customAlert .header-panel .label {
    -fx-font-size: 14px;
    -fx-text-fill: #949392
}

.customAlert .label.content{
    -fx-font-size: 14px;
    -fx-text-fill: #949392;
}

.customAlert > *.button-bar > *.container{
    -fx-background-color: #2d2e2e;
}